# ---- Web API stack ----
fastapi==0.112.2           # Minimal, fast Python web framework (OpenAPI docs auto!)
uvicorn[standard]==0.30.3  # ASGI server to run FastAPI

# ---- EO / Data stack ----
xarray==2024.06.0          # Work with labeled N-D arrays (perfect for NetCDF)
netCDF4==1.7.1post2        # NetCDF backend
numpy==2.0.1               # Numerical array library

# ---- Plotting for quicklooks ----
matplotlib==3.9.0          # Create PNG quicklook images

# ---- Observability (extra value!) ----
prometheus-client==0.20.0  # /metrics endpoint for Prometheus/Grafana later

# ---- Misc ----
requests==2.32.3           # (Optional) HTTP calls if you add URL ingestion later
pytest==8.3.2              # Testing framework (CI runs it)
python-multipart==0.0.9    # Form data requires
scipy==1.13.1               # For some extra numerical operations